html{
    position: relative;
}

body{
    margin-top: 30px;
    margin-bottom: 100px;
}

.jumbotron{
    height: 500px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url('../img/3.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #eaeaea;
    overflow: hidden;
    padding-top: 85px;
}

.jumbotron img{
    width: 200px;
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p{
    text-shadow: 1px 1px 15px rgba(0,0,0,0.5);
}

hr{
    width: 250px;
    border-top: 3px solid #999;
}

section{
    min-height: 450px;
}

.pKiri, .pKanan{
    opacity: 0;
    transform: translate(-50px, 0) rotate(15deg);
    transition: 1s;
}

.pKanan{
    transform: translate(50px, 0) rotate(-15deg);
}

.pKiri.pMuncul, .pKanan.pMuncul{
    opacity: 1;
    transform: translate(0,0);
}

.portfolio{
    background-color: #eee;
}

.portfolio .thumbnail{
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.portfolio .thumbnail.muncul{
    opacity: 1;
    transform: translate(0, 0);
    transition: .5s;
}

.contact{
    min-height: 800px;
}

footer{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom:0;
    background-color: #333;
    padding-top: 30px;
}
footer p{
    color: #aaa;
    font-size: 1em;
}

footer p i{
    color: salmon;
}